body{
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    background-color: #1f2937;
}

.header img {
    width: 80px;
}

ul{
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    padding: 64px;
    background-color: #1f2937;
}

.hero-image img{
    height: 250px;
    width: 550px;
}

.hero-container .main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}
.hero-container .secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    padding: 8px 16px;
}
.information{
    text-align: center;
}

.title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 48px;
    padding: 16px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.box{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    margin-bottom: 10px;
    border-radius: 10%;
}

.info{
    max-width: 150px;
}




